@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #040d15;
    color: white;
}

nav {
    background-color: #070F2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo,
.navbar {
    margin: 0px 100px;
}

.logo a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul li {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #e1e7ff;
    padding: 2.5vh 20px;
}

ul li a:hover {
    background-color: #28276e;
    transition: .5s ease-in-out;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.468);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header a {
    margin-top: 40px;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    background-color: white;
    padding: 15px 60px;
    border-radius: 4px;
    font-size: 1rem;
    transition: 0.8s;
}

.main-header a:hover {
    /* background-color: transparent;
    border: 1px dashed white;
    color: white;
    transition: 0.8s; */
    -webkit-box-shadow: 0px 0px 58px 9px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: 0px 0px 58px 9px rgba(255, 255, 255, 0.65);
    box-shadow: 0px 0px 58px 9px rgba(255, 255, 255, 0.65);
    transform: scale(1.05);
}

.main-header p {
    margin-top: 20px;
    font-size: 1.2rem;
}

header {
    background-image: url(assets/bg-header.jpg);
    background-position: center;
    background-size: cover;
    color: #f8f9ff;
    height: 92vh;
    text-align: center;
    font-size: 1.7rem;
}

article {
    margin: 70px auto;
    width: 90vw;
}

.hobby1,
.hobby2 {
    display: flex;
    justify-content: center;
    height: 300px;
}

.hobby2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 300px;
    text-align: right;
}

.hobby-description {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby-description h1 {
    font-size: 30px;
}

.hobby-description p {
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;

}

.img-1 {
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.img-2 {
    height: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 20px 80px;
    background-color: white;
    box-sizing: border-box;
    transition: 0.5s;
}

img:hover {
    -webkit-box-shadow: 0px 0px 97px 0px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: 0px 0px 97px 0px rgba(255, 255, 255, 0.65);
    box-shadow: 0px 0px 97px 0px rgba(255, 255, 255, 0.65);
    transform: scale(1.05);
}

footer {
    background-color: #021526;
    text-align: center;
    color: #e1e7ff;
    padding: 15px;
}